
    <div class="story-list">
        <a  class="listed-game" href="#" data-toggle="collapse" data-target="#demo">
            <div class="even-row">
                <h1>
                    Test
                </h1>
                <p>Private, Challenging Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a>
        <div id="demo" class="collapse story-current">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fringilla urna porttitor rhoncus dolor purus non. Morbi quis commodo odio aenean sed. Tincidunt vitae semper quis lectus nulla. Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue. Et malesuada fames ac turpis egestas sed tempus urna. Vel eros donec ac odio tempor orci dapibus. Faucibus nisl tincidunt eget nullam non nisi est. Elementum tempus egestas sed sed. Placerat vestibulum lectus mauris ultrices eros in.
        </div> 
        <a id="137486" class="listed-game" href="/game/137486">
            <div class="odd-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">2</span>GAMESHOW CENTRAL</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a>
        <a id="137478" class="listed-game" href="/game/137478">
            <div class="even-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">2</span>HARALD ALEKSANDER HELGE</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137477" class="listed-game" href="/game/137477">
            <div class="odd-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">2</span>Bored</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137461" class="listed-game" href="/game/137461">
            <div class="even-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">2</span>sdfsdf</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137483" class="listed-game" href="/game/137483">
            <div class="odd-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">2</span>MaxBookPro</h1>
                <p>Private, Crazy Rules, 2 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137463" class="listed-game" href="/game/137463">
            <div class="even-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">2</span>Smexies</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137472" class="listed-game" href="/game/137472">
            <div class="odd-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">1</span>Peanut Butter</h1>
                <p>Private, Clean Language, Traditional Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137474" class="listed-game" href="/game/137474">
            <div class="even-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">1</span>ro is a losrr lmsiooooo</h1>
                <p>Private, Traditional Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137495" class="listed-game" href="/game/137495">
            <div class="odd-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">6</span>bob</h1>
                <p>Private, Crazy Rules, 6 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137496" class="listed-game" href="/game/137496">
            <div class="even-row">
                <h1 class="break-text"><span class="sync"> <!-- &bull; --> </span> <span class="active-users sync">3</span>hECHENKK</h1>
                <p>Private, Crazy Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137488" class="listed-game" href="/game/137488">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>LegacyOquackane</h1>
                <p>Public, Crazy Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137455" class="listed-game" href="/game/137455">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Ty is cute</h1>
                <p>Public, Crazy Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137475" class="listed-game" href="/game/137475">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>rupper</h1>
                <p>Private, Traditional Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137485" class="listed-game" href="/game/137485">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>uhfiu34gfiugr</h1>
                <p>Private, Traditional Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137457" class="listed-game" href="/game/137457">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>d</h1>
                <p>Private, Traditional Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137460" class="listed-game" href="/game/137460">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Hi.</h1>
                <p>Private, Crazy Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137467" class="listed-game" href="/game/137467">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Yeet</h1>
                <p>Private, Crazy Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137493" class="listed-game" href="/game/137493">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Tyler's puppy hungry </h1>
                <p>Private, Crazy Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137476" class="listed-game" href="/game/137476">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>LAURUSGAME</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137471" class="listed-game" href="/game/137471">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>RyanBadgerAf</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137480" class="listed-game" href="/game/137480">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>blub ik ben een vis</h1>
                <p>Private, Traditional Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137458" class="listed-game" href="/game/137458">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Dank memers</h1>
                <p>Private, Traditional Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137487" class="listed-game" href="/game/137487">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Flip my brain</h1>
                <p>Private, Clean Language, Challenging Rules, 1 Player</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137490" class="listed-game" href="/game/137490">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>Join Quack</h1>
                <p>Private, Crazy Rules, 2 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137473" class="listed-game" href="/game/137473">
            <div class="odd-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>room room</h1>
                <p>Private, Traditional Rules, 2 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a><a id="137492" class="listed-game" href="/game/137492">
            <div class="even-row">
                <h1 class="break-text"><span class="async"> <!-- &bull; --> </span> <span class="active-users async">0</span>C0CK</h1>
                <p>Private, Crazy Rules, 3 Players</p>
                <p class="listed-game-status"></p>
            </div>
        </a>
    </div>