<div id="snippetDisplay" class="col-lg-6">
    <div id="game-holder">
        <div class="nav d-flex flex-row">
            <button id="tab-button-input" class="nav-link nav-tab-btn active" data-toggle="tab" href="#tab-input">Your Entry</button>
            <button class="nav-link nav-tab-btn" data-toggle="tab" href="#tab-story">Story So Far</button>
            <button class="nav-link nav-tab-btn" data-toggle="tab" href="#tab-vote">Vote</button>
        </div>
        <div class="tab-content">
            <div id="tab-input" class="container tab-pane game-tab-border active border board border-dark">
                <div class="sc-row">
                    <div class="sc-holder">
                        <div id="sc-Character" class="segment-card">
                            <div class="sc-setup sc-back stroke-text Characters">Characters</div>
                            <div id="sc-Characters-front" class="sc-setup sc-front">
                                <div class="sc-front-title">Characters</div>
                                {{#each segmentItem}}
                                    {{> segmentItems/snipSegmentItems-block type='char'}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="sc-holder">
                        <div id="sc-Verb" class="segment-card">
                            <div class="sc-setup sc-back stroke-text Verbs">Verbs</div>
                            <div id="sc-Verbs-front" class="sc-setup sc-front">
                                <div class="sc-front-title">Verbs</div>
                                {{#each segmentItem}}
                                    {{> segmentItems/snipSegmentItems-block type='verb'}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="sc-holder">
                        <div id="sc-Adjective" class="segment-card">
                        <div class="sc-setup sc-back stroke-text Adjectives">Adjectives</div>
                            <div id="sc-Adjectives-front" class="sc-setup sc-front">
                                <div class="sc-front-title">Adjectives</div>
                                {{#each segmentItem}}
                                    {{> segmentItems/snipSegmentItems-block type='adj'}}
                                {{/each}}
                            </div>  
                        </div>
                    </div>
                </div> <!--segment-cards-->
                <div class="d-flex flex-row justify-content-between">
                    <div>What happens next is up to you...</div>
                    <div id="charcters-remaining">
                        <span id="segment-text-rem" class="mr-1">250</span>Characters Remaining
                    </div>
                </div><!--input label and charcters remaining-->
                <div class="input-group row">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                        <input id="snippet-paragraph" type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                    <textarea id="snippet-text" class="form-control board-entry-text" rows="3"></textarea>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div id="segment-req" class="d-flex flex-row justify-content-center bg-white border border-dark rounded text-dark">
                        <div class="d-flex mx-1 flex-row segment-req-list-col text-left">
                            <img id="sc-char-status" src="../images/square-outline-black.svg">
                            <div>Character</div>
                            <img id="sc-adj-status" src="../images/square-outline-black.svg">
                            <div>Adjective</div>
                            <img id="sc-verb-status" src="../images/square-outline-black.svg">
                            <div>Verb</div>
                        </div>
                    </div>
                    <div id="countdown" class="text-center">
                        <div id="coundown-div" class="text-center">
                            {{!-- placeholder for seconds rem block --}}
                            <span id="countdown-sec"></span><span id="countdown-text"> seconds left</span>
                        </div>
                    </div>
                </div><!--requirements and countdown-->
            </div> <!--game tab content-->
            <div id="tab-story" class="container tab-pane story-tab game-tab-border fade border border-dark">
                <div id="rollingStory">
                    {{!-- placeholder for story block --}}
                </div>
            </div><!--story tab content-->
            <div id="tab-vote" class="container tab-pane game-tab-border fade border border-dark">
            </div>
            <div class="progress">
                <div class="progress-bar round-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex flex-row justify-content-between m-2 border-top border-light">
                <button class='btn btn-success px-5 mt-1'>Ready to lock it in?</button>
                <button class='btn btn-danger px-5 mt-1'  type="button" data-toggle="modal" data-target="#leaveModal">Exit Game</button>
            </div>
        </div><!--tabs container-->
    </div> <!--game holder-->



    <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">Sign In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="signinbody" class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
        </div>
        </div>
    </div>
    </div>
</div>