{{> navBars this}}
	<div class="text-white">
    <div class="container">
      <div class="row">
        {{!-- {{> snipFormMainDemo}} --}}
      </div> <!--row-->
    </div> <!--content > container-->		
	</div>

{{!-- <div class="col-lg-6">
  <div class="card">
    <img class="card-img-top" src="../images/ssc-logo.jpg">
    <div class="card-body">
      <div class="card-title">
        <h5>Welcome to Short Story Craft</h5>
        <h6 class="card-subtitle text-muted mb-2">A fun community based atmosphere for sparking creativity</h6>
        <div class="card-text">
          When you're ready, click        
          <button class="nav-colors rounded signin" type="button">
            <div class="d-flex flex-row align-items-center">
                <div class="fa-md">Sign </div>
                <div class="mx-1 fa-md">in</div>
                <div class="fas fa-sign-in-alt fa-2x" style="color:white;"></div>
            </div>
          </button> 
            to create an account and get in on the fun.
        </div>
      </div>
    </div>
  </div>
</div> --}}
        
<!-- Our Custom js -->
<script type="text/javascript" src="../js/snipDemo.js"></script>
<script type="text/javascript" src="../js/snippetEntry.js"></script>
