{{> navBars this}}
<h1 class="display-4 mx-2">Start a new story</h1>
<div class="lead mx-2">Join a game that's waiting for players or create your own</div>
<div class="d-flex flex-row border-bottom border-dark text-right">
    <button class="btn btn-primary ml-auto m-2" type="button">Create a room</button>
    <button class="btn btn-primary m-2" data-toggle="collapse" data-target="#demo">Collapsible</button>
</div> 
<div class="container">
<div class="nav nav-lobby ">
    <button class="nav-link active nav-tab-btn" data-toggle="tab" href="#tab-start">Pregame</button>
    <button class="nav-link nav-tab-btn" data-toggle="tab" href="#tab-going">Active Stories</button>
</div>
<div class="tab-content">
  <div id="tab-start" class="container tab-pane active">
    {{> joinTable}}
  </div>
  <div id="tab-going" class="container tab-pane fade">
    <h1 class="display-4 mx-2">Join a game in progress</h1>
    <div class="lead mx-2">Interested in trying to drive a current sotry in a new direction?</div>
    {{> joinTable}}
  </div>
</div>
</div>  


{{!-- 
    <div class="tab-content">
        <div id="tab-start" class="container tab-pane active">
          <h1 class="display-4 mx-2">Start a new story</h1>
          <div class="lead mx-2">Join a game that's waiting for players or create your own</div>
          <div class="d-flex flex-row border-bottom border-dark text-right">
              <button class="btn btn-primary ml-auto m-2" type="button">Create a room</button>
              <button class="btn btn-primary m-2" data-toggle="collapse" data-target="#demo">Collapsible</button>
          </div> 
          <div id="demo" class="collapse">
          Lorem ipsum dolor text....
          </div>
          {{> gameTable}}
          </div>
        <div id="tab-going" class="container tab-pane fade">
          <h1 class="display-4 mx-2">Join a game in progress</h1>
          <div class="lead mx-2">Interested in trying to drive a current sotry in a new direction?</div>
          {{> joinTable}}
          </div>
    </div> --}}