
<div id="content1" class=""><!-- Page Content  -->
  <nav class="d-flex flex-row justify-content-between sign-in">
    <button class="sign-in" id="sidebarCollapse" >
      <div class="d-flex flex-row align-items-center">
        <div class="fas fa-align-left fa-lg"></div>
        <div class="ml-2 fa-md">Menu</div>
      </div>
    </button>
    <button class="sign-in" data-toggle="modal" data-target=".bd-example-modal-sm">
        <i class="fas fa-users-cog sign-in fa-2x" style="color:white;"></i>
    </button> 
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="jumbotron">
          <h1 class="display-4">Pick Your Poison</h1>
          <p class="lead">Decide whether you want to join and and compete or sit back and have an impact on the flow of the story by casting your votes on a game that's about to begin</p>
          <hr class="my-4">
          <p class="lead d-flex flex-row justify-content-between">
            <a  id="joinIn" class="btn btn-primary btn-lg" href="#" role="button">Join In</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Cast Your Ballet</a>
          </p>
        </div>
      </div>
      <div id="snippetDisplay" class="col-lg-6">
      </div> <!--demo   col-md-6-->
    </div> <!--row-->
  </div> <!--content > container-->
</div> <!--content-->


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <a class="btn btn-secondary" href="/logout">Log Out?</a>
    </div>
  </div>
</div>

    <script type="text/javascript" src="../js/game.js"></script>
